.Rproj.user
.Rhistory
.RData
.Ruserdata
gd_cuck_plots.html
gd_cuck_plots_big_mig.html
stopover_rainfall_vis1.html
stopover_rainfall_vis2.html
stopover_rainfall_vis.html
stopover_rainfall_vis3.html
stopover_rainfall_vis4.html
stopover_rainfall_ndvi_detailcoords_vis.html
stopover_ndvi_detailcoords_vis.html
stopover_rainfall_ndvi_detailcoords_vis2.html
paper_wireframe_knit.html
paper_wireframe_knit_V2.html
stopover_rainfall_ndvi_detailcoords_vis_DEPWAbirds.html
stopover_rainfall_ndvi_detailcoords_vis_DEPWAbirds_allmetrics.html
stopover_rainfall_ndvi_detailcoords_vis_DEPWAbirds_cotedivoire.html
stopover_rainfall_ndvi_detailcoords_vis_DEPWAbirds_ghana.html
paper_wireframe_knit_V3.html
